---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: containerscans.monitoring.spark.co.nz
spec:
  group: monitoring.spark.co.nz
  names:
    kind: ContainerScan
    listKind: ContainerScanList
    plural: containerscans
    singular: containerscan
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - description: object creation timestamp(in cluster's timezone)
      jsonPath: .metadata.creationTimestamp
      name: CreatedAt
      type: string
    - description: if set to true, there is no container with non-zero terminate state
      jsonPath: .status.conditions[].status
      name: Ready
      type: string
    - description: last successful run (where there is no failed containers) timestamp(in
        cluster's timezone)
      jsonPath: .status.lastRunTime
      name: LastSuccessfulTime
      type: string
    - description: indicates if the external system is notified
      jsonPath: .status.externalNotified
      name: ExternalNotified
      type: string
    - description: incident ID from service now
      jsonPath: .status.incidentID
      name: IncidentID
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ContainerScan is the Schema for the containerscans API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: ContainerScanSpec defines the desired state of ContainerScan
            properties:
              aggregateAlerts:
                description: aggregate external alerts per pod, if set to false, alarm
                  will be raised for each problematic container
                type: boolean
              checkInterval:
                description: the frequency of checks to be done, if not set, defaults
                  to 2 minutes
                format: int64
                type: integer
              email:
                description: Target user's email for container status notification
                type: string
              externalData:
                description: Data to be sent to the external system in the form of
                  config map
                type: string
              externalSecret:
                description: Secret which has the username and password to post the
                  alert notification to the external system
                type: string
              externalURL:
                description: URL of the external alert system
                type: string
              notifyExternal:
                description: To notify the external alerting system, boolean (true,
                  false). Set true to notify the external system.
                type: boolean
              relayHost:
                description: SMTP Relay host for sending the email
                type: string
              suspend:
                description: Set suspend to true to disable monitoring the custom
                  resource
                type: boolean
              suspendEmailAlert:
                description: Suspends email alerts if set to true, target email (.spec.email)
                  will not be notified
                type: boolean
              targetNamespace:
                description: Containers in the target namespace will be monitored
                  by the controller
                items:
                  type: string
                type: array
            required:
            - suspend
            - targetNamespace
            type: object
          status:
            description: ContainerScanStatus defines the observed state of ContainerScan
            properties:
              affectedPods:
                description: affected targets
                items:
                  type: string
                type: array
              conditions:
                description: |-
                  INSERT ADDITIONAL STATUS FIELD - define observed state of cluster
                  Important: Run "make" to regenerate code after modifying this file
                  list of status conditions to indicate the status of managed cluster
                  known conditions are 'Ready'.
                items:
                  properties:
                    lastTransitionTime:
                      description: LastTransitionTime is the timestamp of the last
                        update to the status
                      format: date-time
                      type: string
                    message:
                      description: Message is the human readable explanation for object's
                        condition
                      type: string
                    reason:
                      description: Reason is the machine readable explanation for
                        object's condition
                      type: string
                    status:
                      description: Status of the condition, one of ('True', 'False',
                        'Unknown')
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: Type of the condition, known values are 'Ready'.
                      type: string
                  required:
                  - message
                  - status
                  - type
                  type: object
                type: array
              externalNotified:
                description: Indicates if external alerting system is notified
                type: boolean
              externalNotifiedTime:
                description: Indicates the timestamp when external alerting system
                  is notified
                format: date-time
                type: string
              incidentID:
                description: Incident ID from the rem. Spark specific
                items:
                  type: string
                type: array
              lastRunTime:
                description: last successful timestamp of retrieved cluster status
                format: date-time
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
