---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: portscans.monitoring.spark.co.nz
spec:
  group: monitoring.spark.co.nz
  names:
    kind: PortScan
    listKind: PortScanList
    plural: portscans
    singular: portscan
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - description: object creation timestamp(in cluster's timezone)
      jsonPath: .metadata.creationTimestamp
      name: CreatedAt
      type: string
    - description: whether cluster is reachable on the give IP and port
      jsonPath: .status.conditions[].status
      name: Reachable
      type: string
    - description: last poll timestamp(in cluster's timezone)
      jsonPath: .status.lastPollTime
      name: LastSuccessfulPollTime
      type: string
    - description: indicates if the external system is notified
      jsonPath: .status.externalNotified
      name: ExternalNotified
      type: string
    - description: incident ID from service now
      jsonPath: .status.incidentID
      name: IncidentID
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: PortScan is the Schema for the PortScans API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: PortScanSpec defines the desired state of PortScan
            properties:
              checkInterval:
                description: frequency of the check. If not set, it defaults to 2
                  mins.
                format: int64
                type: integer
              email:
                description: Target user's email for cluster status notification
                type: string
              externalData:
                description: Data to be sent to the external system in the form of
                  config map
                type: string
              externalSecret:
                description: Secret which has the username and password to post the
                  alert notification to the external system using Authorization header
                type: string
              externalURL:
                description: 'URL of the external alert system. Example: http://notify.example.com/
                  (both http/https supported with basic authentication)'
                type: string
              notifyExternal:
                description: To notify the external alerting system
                type: boolean
              relayHost:
                description: Relay host for sending the email
                type: string
              suspend:
                description: Set suspend to true to disable monitoring the custom
                  resource
                type: boolean
              suspendEmail:
                description: Suspends email alerts if set to true, target users will
                  not be notified
                type: boolean
              target:
                description: 'Target is the Openshift/kubernetes cluster hostname
                  URL or any IP/FQDN with port (example: api.test.com:443 ) (If FQDN
                  is used, it should be resolvable via DNS query)'
                items:
                  type: string
                type: array
            required:
            - suspend
            - target
            type: object
          status:
            description: PortScanStatus defines the observed state of PortScan
            properties:
              affectedTargets:
                description: affected targets
                items:
                  type: string
                type: array
              conditions:
                description: |-
                  INSERT ADDITIONAL STATUS FIELD - define observed state of cluster
                  Important: Run "make" to regenerate code after modifying this file
                  list of status conditions to indicate the status of managed cluster
                  known conditions are 'Ready'.
                items:
                  properties:
                    lastTransitionTime:
                      description: LastTransitionTime is the timestamp of the last
                        update to the status
                      format: date-time
                      type: string
                    message:
                      description: Message is the human readable explanation for object's
                        condition
                      type: string
                    reason:
                      description: Reason is the machine readable explanation for
                        object's condition
                      type: string
                    status:
                      description: Status of the condition, one of ('True', 'False',
                        'Unknown')
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: Type of the condition, known values are 'Ready'.
                      type: string
                  required:
                  - message
                  - status
                  - type
                  type: object
                type: array
              externalNotified:
                description: Indicates if external alerting system is notified
                type: boolean
              externalNotifiedTime:
                description: Indicates the timestamp when external alerting system
                  is notified
                format: date-time
                type: string
              incidentID:
                description: Incident ID from the rem. Spark specific
                items:
                  type: string
                type: array
              lastPollTime:
                description: last successful timestamp of retrieved cluster status
                format: date-time
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
